<!DOCTYPE html>
<html>
<head>
  <title>Weather</title>
  
  <link rel="icon" href="/img/w.png">
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <div class="main-content">
    {{>header}}
    <h1>Hello From {{title}}</h1>
    <img class="portrait" src="/img/spider.jpg">
    <p>{{name}}</p>
    </div>
    {{>footer}}
</body>
</html>