<!DOCTYPE html>
<html>
<head>
  <title>Weather</title>
  <link rel="icon" href="/img/w.png">
  <link rel="stylesheet" href="/css/styles.css">
  
</head>
<body>
<div class="main-content">
    {{>header}}
    <p>You are on the Best Website For Weather Information</p>
    <form>
      <input placeholder="Location">
      <button>search</button>
    </form>
    <p id="message-1"></p>
    <p id="message-2"></p>
    </div>
    {{>footer}}
    <script src="/js/app.js"></script>
</body>
</html>