<footer>
        {{name}}
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. A nemo eligendi earum 
        dicta quaerat voluptatem itaque aperiam voluptas architecto voluptatibus.</p>

</footer>
  